@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
